@import './reset.css';

/*-----------------this is made by whitebear------------------*/

body{
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a{
    text-decoration:none;
    color: rgb(61, 61, 61);
}

header{
    background-color:#FFFFFF;
    width:auto;
    height:auto;
}

.container{
    width:980px;
    margin:auto;
}

.logo{
    float: left;
    margin-right: 40px;
}

.logo img{
    display:block;
}

.title{
    float: left;
    margin-right: 40px;
    padding: 23px;
    font-weight: lighter;
}

h1{
    color:#6339ff;
    font-size:30px;
}

.menu{
    float: left;
}

.menu-item{
    display:inline-block;
    padding: 30px;
    font-weight: 600;
    color:rgb(172, 172, 172);
    transition: color 1s ease-in-out;
}

.menu-item:hover{
    transition: color 1s ease-in-out;
    color:#6339ff;
}

main{
    background-color: #6339ff;
    color: #FFFFFF;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-contents {
    text-align:center;
}

footer{
    background-color:rgb(207, 207, 207);
    padding: 50px 0px 200px 0px;
}

.footer-contents {
    text-align: center;
}

.footer-content {
    display: inline-block;
    font-size:12px;
    padding-right: 1%;
    padding-left: 1%;
    border-right: 1px solid rgb(61, 61, 61);
}

.footer-content:hover {
    text-decoration: underline;
}

#footer-exception {
    border-right: none;
}

#footer-exception:hover {
    text-decoration: none;
}
